{% load static from staticfiles %}
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}">
<script src="{% static 'js/vendor/underscore-min.js' %}"></script>
<script src="{% static 'js/vendor/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'js/vendor/backbone-min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
	//Random stuff
	
	$(document).ready(function(){
		$("#p2").hide();	
	});
</script>

<script type="text/javascript">
	//Widget-associated event handlers for p2
	
	$(document).on("click","#seats li",function(){
		$('#seats input[type=text]').attr("value",this.innerHTML);
	});

	$(document).on("click","#seats ul",function(){
		totalcapacity=currentschedule.attributes['bus']['capacity'];
		console.log(totalcapacity);
	});

	$(document).on("change",this,function(){
			
	});

</script>

<script type="text/javascript">
	//Widget-associated event handlers for p1
	
	$(document).on("click","#source li",function(){
		var value=this.innerHTML;
		var prev=$('#source input[type=text]').attr("value");
		$('#source input[type=text]').attr("value",value);
		$('#destination ul').html("");
		if(prev != value)
			$('#destination input[type=text]').attr("value","");
		for(stop in routestops.models)
		{
			if(routestops.models[stop].attributes['bus_stop']['name']==value && routestops.models[stop].attributes['bus_stop_number']==1)
			{
				curroute = routestops.models[stop].attributes['route'];
				
				for(destop in routestops.models)
				{
					if(routestops.models[destop].attributes['route']['id'] == curroute['id'] && routestops.models[destop].attributes['bus_stop_number']!=1)
					{
						$("#destination ul").append("<li>" + routestops.models[destop].attributes['bus_stop']['name'] + "</li>");
					}
				}
			} 
		}
	});

	$(document).on("click","#destination li",function(){
		$('#destination input[type=text]').attr("value",this.innerHTML);
	});

	$(document).on("mouseenter","#table tr.items",function(){
		$(this).attr("style","background: rgba(12,50,12,0.6);");
	});
	
	$(document).on("mouseleave","#table tr.items",function(){
		$(this).attr("style","");
	});

	$(document).on("click","#table tr.items",function(){
		$('#p2').show();
		$('#p1').hide();
		for(schedule in schedules.models)
		{
			if(schedules.models[schedule].id == $(this).attr("value"))
			{
				currentschedule = schedules.models[schedule];
			}
		}
	});
</script>
<script type="text/javascript">
		//Table population for bus selection

		var Customer = Backbone.Model.extend({

		});
		var Customers = Backbone.Collection.extend({
			url: '/customers/',
			model: Customer,
			initialize: function(){
			},
		});

		var Schedule = Backbone.Model.extend({

		});
		var Schedules = Backbone.Collection.extend({
			url: '/schedules/',
			model: Schedule,
			initialize: function(){
			},
		});

		var Bus = Backbone.Model.extend({

		});
		var Buses = Backbone.Collection.extend({
			url: '/buses/',
			model: Bus,
			initialize: function(){
			},
		});

		var Route = Backbone.Model.extend({

		});
		var Routes = Backbone.Collection.extend({
			url: '/universal/',
			model: Route,
			initialize: function(){
			},
		});

		var RouteStop = Backbone.Model.extend({

		});
		var RouteStops = Backbone.Collection.extend({
			url: '/routestops/',
			model: RouteStop,
			initialize: function(){
			},
		});

		var Transaction = Backbone.Model.extend({

		});
		var Transactions = Backbone.Collection.extend({
			url: '/transactions/',
			model: Transaction,
			initialize: function(){
			},
		});
		
		currentschedule = ""
		customers = new Customers();
		buses = new Buses();
		schedules = new Schedules();
		routes = new Routes();
		routestops = new RouteStops();
		tran = new Transactions();
		
		curr={{user.id}};

		customers.fetch({success: function(){
			$('h1#header').html("Welcome to the Customer-side Bus Application!");
			$('h3#header').html("You can create new transactions by using the buttons provided below.");
			for(customer in customers.models)
			{
				if(customers.models[customer].attributes['user'] == curr)
				{
					curr=customers.models[customer];
				}
			}
			buses.fetch({success: function(){
				schedules.fetch({success: function(){
					routes.fetch({success: function(){
						routestops.fetch({success: function(){
							tran.fetch({success: function(){
								for(route in routes.models)
								{
									$('#source ul').append("<li>" + routes.models[route].attributes['source']['name'] +"</li>");
								}
							}, error: function(){
								$('h1#header').html("Could not fetch transaction data.");
							}});
						}, error: function(){
							$('h1#header').html("Could not fetch routestop data.");
						}});
					}, error: function(){
						$('h1#header').html("Could not fetch route data.");
					}});
				},error: function(){
					$('h1#header').html("Could not fetch schedule data.");	
				}});
			}, error: function(){
				$('h1#header').html("Could not fetch bus data.");				
			}
			});
		}, error: function(){
			$('h1#header').html("Could not fetch customer data.");		
		}});
</script>
<style>

body {
		background: url("{% static 'img/busstop.jpg' %}");
		background-size: cover;
		background-repeat: no-repeat;
		color:white;
	}

.btn-success{
	background : black;
}

.navbar{
		border-radius: 0;
	}

#header{
	text-shadow : 2px 2px rgba(3,3,3,0.5);
	margin-left: 5%;
}

form{
	margin-left:5%;
	margin-top:40px;
}

.input-group{
	color:black;
}

.input-group .btn,.dropdown-toggle{
	background:transparent;
	margin-right: 10px;
	background:rgba(190,190,190,0.6);
	color: white;
	text-shadow: 1px 1px rgba(3,3,3,0.5);
}

.input-group ul{
	padding:10px;
	background:rgba(12,50,12,0.9);
	color:white;
}

.input-group{
	width:300px;
}

.input-group input[type=text]{
	background:transparent;
	background-color:transparent;
	color:white;
	border: 1px rgba(255,255,255,1);
	border-radius:5px;
}

li button{
	background:transparent;
	border:none;
	width:inherit;
	height:inherit;
}

table{
	margin:5%;
	text-shadow:2px 2px 0px rgba(0,0,0,0.5);
	background:rgba(190,190,190,0.6);
	border-radius:5px;
}

table tr{
	margin-top:5px;
	margin-bottom:5px;
}

th{
	margin-left:3px;
	margin-right:3px;
	padding:30px;
	font-weight:normal;
}

td{
	margin-left:3px;
	margin-right:3px;
	padding:30px;
}

#shade{
	background: rgba(3,3,3,0.5);
}

#dp{
	background: rgba(190,190,190,0.6);
	color:white;
	border:none;
	border-radius:5px;
	padding:5px;
	margin-right:20px;
}

</style>
<nav class="navbar navbar-inverse" role="navigation">
			<div class="container">
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-head-collapse">
					<span class="sr-only">Toggle Navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="navbar-header">
					<a href="#" class="navbar-brand">Customer Bus Application</a>
				</div>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{% url 'bus_login' %}">Welcome, {{ customer.fname }}</a></li>
					<li><a href="{% url 'register' %}">Back to Main</a></li>
				</ul>	
			</div>
			
		</nav>

<div id="shade">
<br/>
<h1 id="header"></h1>
<h2 id="header"></h2>
<h3 id="header"></h3>
<div id="p1">
<form method="get" action=".">{% csrf_token %}
    <div class="input-group" id="source">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Source <span class="caret"></span></button>
        <ul class="dropdown-menu">
        </ul>
      </div>
      <input type="text" class="form-control" id="sour" name="source" placeholder="--Select source--" readonly>
    </div>
	<br/>
	<div class="input-group" id="destination">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Destination <span class="caret"></span></button>
        <ul class="dropdown-menu">
        </ul>
      </div>
      <input type="text" class="form-control" id="dest" name="destination" placeholder="--Select destination--" readonly>
    </div>
	<br/>

<input type="date" id="dp" placeholder="--Select date--" name="date">

        <input type="submit" class="btn btn-success btn-mid" value="Submit" />
    </form>

<div id='result'>
	<table id="table">
	<tr>
	<th>Date</th>
	<th>Source</th>
	<th>Destination</th>
	<th>Amount</th>
	<th>Available Seats</th>
	<th>Time</th>
	</tr>
	{% for bus in buses %}
	<tr class="items" value={{bus.sid}}>
	<td>{{bus.year}}-{{bus.month}}-{{bus.day}}</td>
	<td>{{bus.source}}</td>
	<td>{{bus.destination}}</td>
	<td>{{bus.amount}}</td>
	<td>{{bus.remaining}}</td>
	<td>{{bus.time}}</td>
	</tr>
	{% endfor %}
	</table>
{{ error }}
</div>
</div>
<div id="p2">
<form method="post" action="#">{% csrf_token %}
    
<div class="input-group" id="seats">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Seats <span class="caret"></span></button>
        <ul class="dropdown-menu">
        </ul>
      </div>
      <input type="text" class="form-control" id="seat" name="seats" placeholder="--Select seats--" readonly>
    </div>
	<br/>
<input type="submit" class="btn btn-success btn-mid" value="Confirm" />
    </form>

	<div id='result1'>
	<table id="table1">
	<th>
	<td>Date</td>
	<td>BusID</td>
	<td>Source</td>
	<td>Destination</td>
	<td>Amount</td>
	<td>Available Seats</td>
	<td>Time</td>
	</th>
	</table>
</div>


</div>
</div>
